
i {
   text-align: center;
   color: var(--color-primary);
   font-size: calc(var(--font-size) *2);
   cursor: pointer;
   transition: all 0.5s ease 0s;
}

.file {
   margin: 1.8rem 0;
   padding-bottom: 0.5rem;
   border-bottom: 2px solid var(--color-primary);
   display: grid;
   grid-template-columns: 1fr 4fr repeat(4, 1fr);
   align-items: center;
   color: var(--color-primary);
   font-weight: 600;

   .name {
      grid-column-start: 2;
      cursor: pointer;
      transition: all 0.5s ease 0s;
   }

   .date {
      grid-column-start: 5;
      justify-self: center;      
   }

   .size {
      grid-column-start: 6;
      justify-self: center;
   }

   .fileImage {
      justify-self: center;
      cursor: pointer;
   }

   .buttons {
      display: none;
      cursor: pointer;
      max-width: 5rem;
   }

   &:hover {

      .name, i {
         color: var(--color-white);
      }

      .download {
         grid-column-start: 3;
         display: block;
         padding: 0.4rem 0;
      }

      .delete {
         grid-column-start: 4;
         display: block;
         padding: 0.4rem 0;
      }
   }
}

.filePlate {
   width: 150px;
   height: fit-content;
   cursor: pointer;
   display: flex; 
   flex-direction: column;
   align-items: center; 
   
   .buttons {
      display: none;
      cursor: pointer;
   }

   &:hover  {

      .name, i {
         color: var(--color-white);
      }

      .buttons {
         display: flex;
         margin-bottom: 0.25rem;
      }
   }

   .name {
      margin-bottom: 0.25rem;
      transition: all 0.5s ease 0s;
      text-align: center;
   }

   i {
      transition: all 0.5s ease 0s;
   }

   .date {
      display: none;
   }

   .size {
      display: none;
   }

}
