.file {
   margin: 20px 0;
   border-bottom: 2px solid var(--color-primary);
   display: grid;
   grid-template-columns: 1fr 4fr repeat(4, 1fr);
   align-items: center;
   transition: all 0.5s ease 0s;

   .name {
      grid-column-start: 2;
      cursor: pointer;
   }

   .date {
      grid-column-start: 5;
      justify-self: center;
   }

   .size {
      grid-column-start: 6;
      justify-self: center;
   }

   .fileImage {
      justify-self: center;
      cursor: pointer;
   }

   .buttons {
      display: none;
      cursor: pointer;
      max-width: 5rem;
   }

   &:hover {
      transform: scale(1.02);

      .download {
         grid-column-start: 3;
         display: block;
      }

      .delete {
         grid-column-start: 4;
         display: block;
      }
   }
}

.filePlate {
   width: 150px;
   height: 150px;
   cursor: pointer;
   display: flex; 
   flex-direction: column;
   align-items: center; 
   
   img {
      height: 100px;
      width: 100px;
   }
   .buttons {
      display: none;
      
      button {
         margin: 0 0.5rem;
      }
   }

   &:hover .buttons {
      display: flex;
   }

}