@import url('./assets/icons.css');

:root {
  --primary-color-hue: 223;
  --dark-color-lightness: 15%;
  --light-color-lightness: 95%;
  --white-color-lightness: 100%;

  --color-white: hsl(252, 30%, var(--white-color-lightness));
  --color-light: hsl(252, 30%, var(--light-color-lightness));
  --color-gray: hsl(240, 5%, 53%);
  --color-primary: hsl(var(--primary-color-hue), 9%, var(--dark-color-lightness));
  --color-secondary: hsl(34, var(--light-color-lightness), 55%);
  --color-success: hsl(120, 95%, 65%);
  --color-danger: hsl(0, 86%, 46%);
  --color-dark: hsl(252, 30%, var(--dark-color-lightness));
  --color-black: hsl(252, 30%, 10%);
  --color-transparent: rgba(214, 204, 255, 0.5);

  --border-radius: 0.8rem;
  --btn-padding: 0.6rem;
  --search-padding: 0.6rem 1rem;
  --padding: 1rem;

  --font-size: 1rem;
  --shadow: -4px -4px 4px #ffffff17, 4px 4px 4px rgba(0,0,0,0.3);
  --shadow-clicked: inset 4px 4px 4px rgba(0,0,0,0.3), -4px -4px 4px #ffffff17;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-secondary);
 }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  width:  100vw;
  margin-top: 50px;
}

.wrapper {
  width: 80vw;
  margin: 0 auto;
  padding-top: 10px;
  height: calc(95vh - 50px) ;
}

h2 {
  text-align: center;
  margin-top: 1rem;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  opacity: 0.6;
  cursor: pointer;
}

.file-enter-active {
  animation: file-enter 0.7s forwards;

}

button, select {
  outline: none;
  border: 1px solid var(--color-gray);
  border-radius: var(--border-radius);
  color: var(--color-gray);
  background-color: var(--color-primary);
  padding: var(--btn-padding);
  box-shadow: var(--shadow);
  font-weight: 600;
  transition: all 0.5s ease 0s;
}

button:hover, select:hover {
  color: var(--color-secondary);
  background-color: var(--color-light);
  border-color: var(--color-secondary);
  cursor: pointer;
}

@keyframes file-enter {
  0% {
    opacity: 0;
    transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 468px) {
  .wrapper {
    width: 95vw;
  }
}