.disk {
   margin-top: 2rem;
   height: calc(95vh - 60px -2rem);

   .buttons {
      display: flex;

      .create {
         margin-left: 10px;
      }

      .uploadFileInput {
         display: none;
      }

      .uploadFileLabel {

         i {
            color: var(--color-gray);
         }

         &:hover {
            cursor: pointer;
            i {
               color: var(--color-secondary);
            }
         }

         i {
            display: none;
         }
      }
   }

   .select {
      margin-left: auto;
   }

   .list,
   .plate {
      margin-left: 0.5rem;
   }
}

.dropArea {
   width: 100%;
   height: calc(95vh - 90px);
   margin: 20px;
   border: 2px dashed var(--color-primary);
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: calc(var(--font-size) * 2);
   color: var(--color-gray);
}


@media (max-width: 468px) {

   .disk {
      .buttons {

         .uploadFile {
            position: fixed;
            bottom: 4rem;
            right: 1rem;
         }

         .uploadFileLabel {
            border: none;
            padding: 0;

            span {
               display: none;
            }

            i {
               display: block;
               font-size: calc(var(--font-size) * 2);
            }
         }
      }
   }
}