.navbar {
   display: flex;
   height: 60px;
   padding: 1rem 0;
   width: 100%;
   background-color: var(--color-primary);

   .container {
      display: flex;
      justify-content: space-between;
      margin: 0 auto;
      width: 80vw;

      .columnLeft,
      .columnRight {
         display: flex;
         align-items: center;


         div {
            margin-right: 1rem;
         }
      }

      .columnLeft {

         input.search {
            width: 6rem;
         }

         img {
            height: 50px;
         }
      }
   }

   .header {
      font-size: calc(var(--font-size) * 1.2);
      font-weight: 700;
   }

   .login {}

   .registration {}

   .avatar {
      width: 3.2rem;
      height: 3.2rem;
      border-radius: 50%;
   }

   .signOut {
      margin-left: 1rem;
   }

}

@media (max-width: 468px) {

   .navbar {

      .container {
         margin: 0 5px;
         width: 100vw;

         .columnRight {

            div {
               font-size: calc(var(--font-size) * 0.9);
            }
         }

         .header {
            font-size: var(--font-size);
            max-width: 100px;
         }
      }
   }
}