.navbar {
   display: flex;
   height: 60px;
   padding: 1rem 0;
   width: 100%;
   background-color: var(--color-primary);
   color: var(--color-white);
   position: fixed;
   top: 0;
   margin: 0;
   z-index: 100;

   .container {
      display: flex;
      justify-content: space-between;
      margin: 0 auto;
      width: 80vw;

      .columnLeft,
      .columnRight {
         display: flex;
         align-items: center;


         div {
            margin-right: 1rem;
         }
      }

      .columnLeft {

         .logo {
            font-size: calc(var(--font-size) * 2.5);
         }

         input.search {
            max-width: 5rem;
            border-radius: var(--border-radius);
            padding: 0.3rem 0.6rem;
            border: none;
            outline: none;
         }

         img {
            height: 50px;
         }
      }

      .searchBar {
         background: var(--color-white);
         border-radius: var(--border-radius);
         padding: calc(var(--font-size) / 6);
         border: 1px solid var(--color-dark);
         position: relative;
         display: flex;
         align-items: center;

         i {
            font-size: var(--font-size);
            color: var(--color-dark);
            position: absolute;
            left: var(--font-size);
         }

         input {
            text-align: center;
            background: transparent;
            margin-left: 1rem;
            font-size: var(--font-size);
            color: var(--color-dark);

            &::placeholder {
               color: var(--color-gray);
            }
         }
      }
   }

   .header {
      font-size: calc(var(--font-size) * 1.2);
      font-weight: 700;
   }

   .login {}

   .registration {}

   .avatar {
      width: calc(var(--font-size) * 3);
      height: calc(var(--font-size) * 3);
      border-radius: 50%;
   }

   .signOut {
      margin-left: 1rem;
      text-align: center;
      color: var(--color-secondary);
   }

}

@media (max-width: 468px) {

   .navbar {
      height: 5rem;

      .container {
         margin: 0 5px;
         width: 100vw;

         .columnRight {

            div {
               font-size: calc(var(--font-size) * 0.9);
            }
         }

         .header {
            font-size: var(--font-size);
            max-width: 100px;
         }
      }
      .signOut {
         margin-left: 0;
      }
   
   }
}